venv/
__pycache__/
*.pyc
db.sqlite3
/staticfiles/
/media/
.DS_Store
.idea/
.vscode/
*.log
.env
*.sqlite3
coverage.xml
htmlcov/
.tox/
.pytest_cache/
migrations/
*.egg-info/
celerybeat-schedule
instance/
.webassets-cache
scrapy.cfg
.pyre/
.coverage
.pytype/
.pyright/
.ipynb_checkpoints/
core/__pycache__/